@model Students.Models.Student

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Delete" asp-controller="Student" asp-route-id="@Model.Id">Удалить</a> |
    <a asp-action="Edit" asp-controller="Student" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index" asp-controller="Home">На главную</a>

</div>
